.vscode
/portal/msnr_api/.vscode
/portal/msnr_api/_build
/portal/msnr_api/deps

/portal/msnr_elm/elm-stuff


/prijava_teze/*
!/prijava_teze/obrazac.pdf
!/prijava_teze/obrazac.tex

/teza/*
!/teza/teza.pdf
!/teza/teza.tex
!/teza/teza.bib
!/teza/matfmaster.sty
!/teza/*.png